body {
	background-color: #020202;
}
* {
	margin: 10px;
	font-family: "Courier New";
	color: chartreuse;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	font-weight: bold;
}
h1 {
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0;
	background-color: chartreuse;
	color: black;
}
