body {
	background-color: #020202;
}
* {
	margin: 10px;
	font-family: "Courier New";
	color: chartreuse;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	font-weight: bold;
}
header {
	display: block;
	width: auto;
	background-color: chartreuse;
	margin: 0;
}
header h1 {
	color: black;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0;
}
nav ul li {
	color: chartreuse;
	display: inline-block;
	padding-left: 3px;
	padding-right: 3px;
}
nav ul li:hover {
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
	background-color: chartreuse;
	color: black;
}
nav ul {
	list-style-type: none;
	color: chartreuse;
	font-size: 17px;
	margin: 0px;
	padding: 0px;
}
#arrow {
	padding: 0px;
	margin: 0px;
}
